h1 Vista de Productos
hr
table.table.table-dark
  thead
    tr
      th Nombre
      th Categoria
      th Precio
      th Stock
      th Foto
  tbody(id='table')
    if productsApi.length
      each product in productsApi
        tr
          td=product.name
          td=product.category
          td $ #{product.price}
          td=product.stock
          td
            img(src=product.photo alt=product.name)
